@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,700&display=swap');
:root {
        --primary-color: #fead53;
        --text-dark: #333333;
        --text-light: #f3f4f6;

        --max-width: 130px;
}
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
   
}


.container {
    background-image: url('image.jpeg');
    background-size: cover;
    /* or 'auto auto' to retain original size */
    background-repeat: no-repeat;
    /* Prevent image from repeating */
    background-position: center;
    /* Center the image */
}

a{
    text-decoration: none;
}


input::placeholder{
    color: var(--etra-light);
}

body{
    font-family: 'Open sans', sans-serif;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0,0,0.25), rgba(0,0,0.25)),url("assets/image.jpg"); 
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
nav{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: var(--max-width);
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}
.nav__logo a{
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--extra-light);
    align-items: auto;
}
.nav__links{
    list-style: none0;
    display: flex;
    align-items: last baseline;
    gap: 2rem;
}
.nav__links .link{
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--extra-light);
    cursor: pointer;
    transition: 0.3s;
}

.nav__links .link:hover{
    color: var(--primary-color);
}


.search__box{
    padding: .5rem 0;
    border-bottom: 2px solid var(--extra-light);
}
.search__box input{
    color: var(--etra-light);
    background-color: #ffffff;
    outline: auto;
    border: none;
}

.search__box i{
    color: var(--etra-light);
    font-size: 1.2rem;
    cursor: pointer;
}
container{
    display: flex;
    min-height: 100vh;
    max-width: var(--max-width);
    margin: auto;
padding: 2rem;
padding-top: 100px;
position: relative;
}

.container__left,
.container__right {
    flex: 1;
    display: flex;
    align-items: center0;
    justify-content: flex-start;
}

.container__left .content{
    max-width: 400px;
    display: grid;
    gap: 1rem;
}

.content h1{
    font-size: 4rem;
    line-height: 4rem;
    color: var(--etra-light);
    font-weight: 700;
}


.content p{
    color: var(--etra-light);
}


.btns{
    display: flex;
    gap: 1rem;

}

.btns button{
    padding: .5rem 2rem;
    color: var(--etra-light);
    font-size: 1rem;
    background-color: transparent;
    outline: none;
    border: 2px solid var(--etra-light);
    border-radius: 2rem;
    cursor: pointer;
    transition: 0.3s;

}

button.read__more{
    background-color: var(--etra-light);
    color: var(--text-dark);

}

button.our__blogd:hover{
    background-color: var(--etra-light);
}

.chevrons{
    display: flex;
    gap: 1rem;
}

.chevrons span{
    height: 40px;
    width: 40px;
    font-size: 1.5rem;
    color: var(--etra-light);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;

}

.chevrons span:hover{
    background-color: var(--text-light);

}

.container__right{
    justify-content: flex-end;

}

form{
    width: 350px;
    display: grid;
    border-radius: 5px;
    background-color: var(--text-light);
    color: var(--etra-light);
}


form h4{
    font-size: 1.2rem;
    font-weight: 600;
    padding: 2rem;
background-color: #fead53;
}

.form__group{
    display: grid;
    padding: 0.2rem;
    margin-bottom: 1rem;
background-color: #ffffff;
align-items: center;
}
.form__group label{
   align-items: center;
}

.form__group input{
    padding: 5rem;
    font-size: 1rem;
    color: var(--etra-light);
    background-color: transparent;
    outline: auto;
    border:var(--text-dark);
    border-bottom: 2px solid var(--max-width);

}

form button{
    margin-top: 1rem;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 600;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: var(--etra-light);
    cursor: pointer;

}

.buttom__tracker{
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 1rem;

}

.buttom__tracker span{
    display: inline-block;
    height: 4px;
    width: 100px;
    background-color: var(--text-light);
}

.bottom__tracker span:nth-child(2)  {
    background-color: var(--etra-light);

}
